
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 3rem;
}
p {
    font-size: 18px;
}
/* Vertical and horizontal center */
.vh-center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.title {
    padding: 20rem 0rem 20rem 0rem;
}
.title-text {
  font-size: 5rem;
}
.subtitle-text {
  margin-left: 5px;
}
.subtitle {
  margin-left: 3px;
}
.section {
  padding-top: 10rem;
  margin-bottom: 6rem;
}
.section.bottom {
  padding-top: 0rem;
  margin-bottom: 8rem;
}
.left {
  padding-left: 3rem;
}
.right {
  padding-right: 3rem;
}
.image-fill {
  width: 100%;
  height: auto;
}
.fa {
  padding: 20px;
  margin-right: 10px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.white-text {
  color: white;
}

.pirates {
  background: black;
  padding-left: 0px;
  padding-right: 0px;
  height: 95vh;
}
.pirates.desc {
  height: auto;
}
.pirate-center {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
.pirate-text-color {
  color: rgb(255,180,70);
}
.pirate-font {
  font-family: 'Courgette', cursive; 
}

.glyphPosition {
  position: absolute;
  bottom: calc(100% - 95vh);
  /* bottom: 0; */
  width: 100%;
  height: 50px;
  transition: all .2s ease-in-out;
}
.glyphPosition:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 1000px) {
  .title-text {
    font-size: 4rem;
  }
  .section {
    padding-top: 4rem;
    margin-bottom: 6rem;
  }
  .left {
    padding-left: 1rem;
  }
  .right {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 420px) {
  .title {
    padding: 10rem 0rem 10rem 0rem;
  }
  .title-text {
    font-size: 3rem;
  }
  h1 {
    font-size: 2rem;
  }
  .section {
    padding-top: 2rem;
    margin-bottom: 4rem;
  }
  .left {
    padding-left: 1rem;
  }
  .right {
    padding-right: 1rem;
  }
}