body {
  background-color: #F5F5F5;
}

.title {
  margin-top: 0px;
  margin-bottom: 1rem;
  text-align: left;
  padding: 3rem;
  padding-left: 10rem;
  background-color: #00B0FF;
}

.card {
  margin: 4rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.3);
}