body {
  background-color: white;
  font-family: 'Merriweather', serif;
  overflow-x: hidden; /* Hack to hide horizontal scroll bars */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 3em;
}
.title-section {
  height: 100vh;
  width: 100vw;
  background-color: #F44336;
}
.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-text {
  color: white;
  text-align: center;
}
.title-text-size {
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
}
.subtitle-text {
  color: #F5F5F5;
}
.subtitle-text-size {
  font-size: 25px;
}
.glyph-size {
  height: 40px;
  width: auto;
  transition: all .2s ease-in-out;
}
.glyph-size:hover {
  transform: scale(1.4);
}
.glyph-position {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
.section {
  padding: 50px;
  padding-top: 100px;
}
.section.about {
  height: 100vh;
}
.exec {
  background-color: #BDBDBD;
}
.card {
  padding: 30px;
  margin-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 40px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 40px 3px rgba(0,0,0,0.3);
}
.card-subtitle {
  font-size: 14px;
}
.contact {
  padding: 5rem;
  padding-bottom: 3rem;
}
.fa {
  padding: 20px;
  margin-right: 10px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 550px) {
  .title-text-size {
    font-size: 35px;
  }
  .subtitle-text-size {
    font-size: 20px;
  }
  .glyph-size {
    height: 30px;
    width: auto;
    transition: all .2s ease-in-out;
  }
  .glyph-size:hover {
    transform: scale(1.3);
  }
  .glyph-position {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }
  .section {
    padding: 20px;
    padding-top: 80px;
  }
  .section.about {
    padding-top: 50px;
  }
  .contact {
    padding: 3rem;
    padding-bottom: 2rem;
  }
}