body {
  font-family: 'Raleway', sans-serif;
  padding-top: 2rem;

  max-width: 100%;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}
h2 {
  font-size: 2.5rem;
}
.justify {
  text-align: justify;
}
.title {
  height: 100vh;
  padding: 45vh 2em 0em 2em;
  text-align: left;
}
.title h1 {
  color: white;
  font-size: 3em;
}
.title p {
  color: white;
}
.section {
  padding: 10em 2em 10em 2em;
}
.image-fill {
  width: 100%;
  height: auto;
}
.background-grey {
  background-color: #333;
}
.background-grey h2, .background-grey p {
  color: white;
}
.fa {
  padding: 20px;
  margin-right: 10px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
